include *.txt
include *.md
include *.pkl
recursive-include ./decision_tree_model/*

include decision_tree_model/datasets/hour.csv
include decision_tree_model/trained_models/*.pkl
include decision_tree_model/VERSION
include decision_tree_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]